*.py[cod]
*.sqlite
*.sqlite-shm
*.sqlite-wal

__pycache__/
.mypy_cache/
env/
dist/
scratch/

rpgxp/generated/db_data.sql

# This contains paths to local pckages that I haven't uploaded to PyPI.
uv.toml
