# The game's name
game_name = Pokémon Rejuvenation

# The root directory for the game
game_root = /home/andrew/Programs/Pokemon Rejuvenation

# The RTP directory. This contains standard audio and graphics files for RPG
# Maker XP games. Games may refer to these files without needing to store them
# in their own directory. If the game you're running this program on uses its
# doesn't use any of these standard files, you don't need to worry about this
# setting.
rtp_root = /home/andrew/.steam/steam/steamapps/compatdata/235900/pfx/drive_c/Program Files (x86)/Common Files/Enterbrain/RGSS/Standard

# The directory where the SQLite database will be stored
db_root = /home/andrew/myspace/code/rpgmaker-stuff/rpgxp/output/rejuv

# The root directory for the generated website
site_root = /home/andrew/myspace/code/rpgmaker-stuff/rpgxp/output/rejuv/site