{% extends 'layout/base.j2' %}
{% block title %} Error {% endblock %}
{% block links %}
	<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/panda-syntax-light.min.css">
{% endblock %}
{% block script %}
	<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
{% endblock %}
{% block content %}
	<div class="backlinks">
		<a href="{{ url_base }}/">Home page</a>
	</div>

	<section>
		<h1>Error</h1>
		<p>The page <code>{{ url }}</code> could not be viewed due to an error
		in the website code.</p>
		<section>
			<h2>Traceback</h2> 
			<pre><code class="python">{{ traceback }}</code></pre> 
		</section>
	</section>
{% endblock %}
