{% extends 'layout/base.j2' %}
{% block content %}
	<section>
		<ul>
			<li><a href="{{ url_base }}/actors.html">Actors</a></li>
			<li><a href="{{ url_base }}/classes.html">Classes</a></li>
			<li><a href="{{ url_base }}/skills.html">Skills</a></li>
			<li><a href="{{ url_base }}/weapons.html">Weapons</a></li>
			<li><a href="{{ url_base }}/armors.html">Armors</a></li>
			<li><a href="{{ url_base }}/states.html">States</a></li>
			<li><a href="{{ url_base }}/items.html">Items</a></li>
			<li><a href="{{ url_base }}/troops.html">Troops</a></li>
			<li><a href="{{ url_base }}/enemies.html">Enemies</a></li>
			<li><a href="{{ url_base }}/tilesets.html">Tilesets</a></li>
			<li><a href="{{ url_base }}/maps.html">Maps</a></li>
			<li><a href="{{ url_base }}/common_events.html">Common events</a></li>
			<li><a href="{{ url_base }}/animations.html">Animations</a></li>
			<li><a href="{{ url_base }}/elements.html">Elements</a></li>
			<li><a href="{{ url_base }}/switches.html">Switches</a></li>
			<li><a href="{{ url_base }}/variables.html">Variables</a></li>
			<li><a href="{{ url_base }}/system.html">System</a></li>
			<li><a href="{{ url_base }}/scripts.html">Scripts</a></li>
		</ul>
	</section>
{% endblock %}
