{% extends 'layout/base.j2' %}
{% block content %}
	<section>
		<ul>
			<li><a href="site/elements.html">Elements</a></li>
			<li><a href="site/switches.html">Switches</a></li>
			<li><a href="site/variables.html">Variables</a></li>
		</ul>
	</section>
{% endblock %}

