{% extends 'layout/base.j2' %}
{% block content %}
	<section>
		<ul>
			<li><a href="{{ url_base }}/elements.html">Elements</a></li>
			<li><a href="{{ url_base }}/switches.html">Switches</a></li>
			<li><a href="{{ url_base }}/variables.html">Variables</a></li>
		</ul>
	</section>
{% endblock %}

