{% from 'macros.j2' import bgm_link, bgs_link %}	
{% extends 'layout/base.j2' %}
{% block title %} Map {{ id }} ({{ name }}) {% endblock %}
{% block content %}
	<div class="backlinks">
		<a href="{{ url_base }}/maps.html">Maps</a>
	</div>

	<section>		
		<h1>Map {{ id }} ({{ name }})</h1>
		<dl class="tabular">
			<div class="row">
				<div class="col">
					<dt>Parent map</dt>
					<dd>
						{% if parent is none %}
							None
						{% else %}
							<a href="{{ url_base }}/map/{{ parent.id }}.html">{{ parent.id }} ({{ parent.name }})</a>
						{% endif %}
					</dd>
					</div>
				<div class="col">
					<dt>Child maps</dt>
					<dd>
						{% if children %}
							{% for child in children %}
								<a href="{{ url_base }}/map/{{ child.id }}.html">{{ child.id }} ({{ child.name }})</a>{% if not loop.last %}<br>{% endif %}
							{% endfor %}
						{% else %}
							None
						{% endif %}
					</dd>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<dt>Tileset</dt>
					<dd><a href="{{ url_base }}/tileset/{{ tileset.id }}.html">{{ tileset.id }} ({{ tileset.name }})</a></dd>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<dt>BGM</dt>
					<dd>
						{% if bgm is none %}
							None
						{% else %}
							{{ bgm_link(bgm) }}
							<small style="display: block">(volume {{ bgm.volume }}, pitch {{ bgm.pitch }})</small>
						{% endif %}
					</dd>
				</div>
				<div class="col">
					<dt>BGS</dt>
					<dd>
						{% if bgs is none %}
							None
						{% else %}
							{{ bgs_link(bgs) }}
							<small style="display: block">(volume {{ bgs.volume }}, pitch {{ bgs.pitch }})</small>
						{% endif %}
					</dd>
				</div>
			</div>
		</dl>
		<section>
			<h2>Tiles</h2>

			<figure>
				<a href="{{ url_base }}/map/{{ id }}.png">
					<img src="{{ url_base }}/map/{{ id }}.png" style="display: block; margin: 0 auto; max-height: 24rem; max-width: 100%; overflow-y: auto">
				</a>
				<figcaption>
					Click the image for a closer view.
				</figcaption>
			</figure>
		</section>
		<section>
			<h2>Encounters</h2>
			{% if encounters %}
				<section>
					<h3>Rate</h3>

					<p>The "encounter steps" value stored against this map is <strong>{{ encounter_step }}.</strong> By default, this means that the average number of steps the player must take before an encounter is initiated is {{ encounter_step }}. More precisely, the number of steps is calculated by generating two uniformly-distributed random numbers between 0 and {{ encounter_step - 1 }}, and adding 1. This means the number of steps may be as low as 1 or as high as {{ 2 * encounter_step + 1 }}.</p>
				</section>
				<section>
					<h3>Troops</h3>
					<ol>
						{% for encounter in encounters %}
							<li><a href="{{ url_base }}/troop/{{ encounter.troop_id }}.html">{{ encounter.troop_id }}</a> ({{ encounter.troop_name }})</li>
						{% endfor %}
					</ol>
				</section>
			{% else %}
				<p>There are no encounters on this map.</p>
			{% endif %}
		</section>
	</section>
{% endblock %}
