{% macro map_tree(tree) %}
{% if tree %}
<ul>
	{% for child in tree %}
		<li>
			{% if child.children %}
				<a href="#" class="tree-collapse">[&minus;]</a>
			{% else %}
				[&nbsp;]
			{% endif %}
			<a href="{{ url_base }}/map/{{ child.label.id }}.html">
				{{ child.label.id }}
				({{ child.label.name }})
			</a>
			{{ map_tree(child.children) }}
		</li>
	{% endfor %}	
</ul>
{% endif %}
{% endmacro %}
{% extends 'layout/base.j2' %}
{% block title %} Maps {% endblock %}
{% block style %}
	ul {
		padding-top: 0.5em;
		padding-left: 0.5em;
		margin-left: 0.5em;
		list-style-type: none;
	}

	ul ul {
		border-left: 1px solid #ccc; 
	}

	li { margin-bottom: 0.5em; }
{% endblock %}
{% block script %}
<script>
	document.addEventListener('DOMContentLoaded', () => {
		collapsers = document.getElementsByClassName('tree-collapse');

		for (collapser of Array.from(collapsers)) {
			collapser.addEventListener('click', event => {
				event.preventDefault();
				const link = event.currentTarget;
				const ul = link.nextElementSibling.nextElementSibling;
				console.log(link.textContent);

				if (link.textContent == '[−]') {
					link.textContent = '[+]';
					if (ul !== null) ul.style.display = 'none';
				} else {
					link.textContent = '[−]';
					if (ul !== null) ul.style.display = 'block';
				}
			});
		}
	});
</script>
{% endblock %}
{% block content %}
	<section>
		<h1>Maps</h1>
		{{ map_tree(maps) }}
	</section>
{% endblock %}
