{% extends 'layout/base.j2' %}
{% block title %} Switch {{ switch.id }} ({{ switch.name }}) {% endblock %}
{% block content %}
	<div class="backlinks">
		<a href="{{ url_base }}/switches.html">Switches</a>
	</div>

	<section>		
		<h1>Switch {{ switch.id }} ({{ switch.name }})</h1>
		<section>
			<h2>Usage</h2>
			{% if switch.common_events %}
				<section>
					<h3>As a common event condition</h3>

					<p>This switch is used as a condition for the following common events. This means that the event will be executed whenever the switch's value is set to 'on', and will continue executing in a loop as long as the switch is on.</p>

					<table>
						<tr>
							<th>ID</th>
							<th>Name</th>
						</tr>
						{% for event in switch.common_events %}
							<tr>
								<td>{{ event.id }}</td>
								<td>{{ event.name }}</td>
							</tr>
						{% endfor %}
					</table>
				</section>
			{% endif %}
		</section>
	</section>
{% endblock %}
