{% extends 'layout/base.j2' %}
{% block title %} Tileset {{ id }} ({{ name }}) {% endblock %}
{% block script %}
<script>
document.addEventListener('DOMContentLoaded', () => {
	const scrollbars = document.querySelectorAll('[data-scrollbar-for]');
	console.log('script loaded');
	console.log(scrollbars);

	for (const scrollbar of scrollbars) {
		const scrollable = document.querySelector(scrollbar.dataset.scrollbarFor);
		console.log(scrollable.scrollTop);

		scrollable.addEventListener('scroll', () => {
			console.log(scrollable.scrollTop);
		});
	}
});
</script>
{% endblock %}
{% block content %}
	<div class="backlinks">
		<a href="{{ url_base }}/tilesets.html">Tilesets</a>
	</div>

	<section>
		<h1>Tileset {{ id }} ({{ name }})</h1>

		{% if maps %}
			<p>
				<strong>Used on these maps</strong>:
				{% for map in maps %}
					<a href="{{ url_base }}/map/{{ map.id }}.html">{{ map.id }} ({{ map.name }})</a>{% if not loop.last %},{% endif %}
				{% endfor %}
		{% else %}
			<p class="warning">This tileset is not used on any maps.</p>
		{% endif %}

		<section>
			<h2>Regular tiles</h2>

			{% if filename is none %}
				<p>This is a dummy tileset with no associated tiles.</p>
			{% elif file_ext %}
				<figure>
					<div style="display: flex; justify-content: space-between">
						<div></div>
						<a href="{{ url_base }}/graphics/tilesets/{{ filename }}{{ file_ext }}" class="figure-img-container" id="tileset-img">
							<img src="{{ url_base }}/graphics/tilesets/{{ filename }}{{ file_ext }}" class="figure-img" usemap="#tilemap">
						</a>
						<img src="{{ url_base }}/graphics/tilesets/{{ filename }}{{ file_ext }}" style="height: 24rem" data-scrollbar-for="#tileset-img">
					</div>
					<figcaption><b>File name</b>: {{ filename }}</figcaption>
				</figure>
			{% else %}
				<p class="warning">This tileset references a graphic with the file name "Tilesets/{{ filename }}", but no file with this name exists.</p>
			{% endif %}
		</section>
		<section>
			<h2>Autotiles</h2>

			{% if autotiles %}
				<div style="text-align: center">
					{% for autotile in autotiles %}
						<figure style="display: inline-block; margin: 1rem">
							<a href="{{ url_base }}/graphics/autotiles/{{ autotile.filename }}{{ autotile.file_ext }}">
								<img src="{{ url_base }}/graphics/autotiles/{{ autotile.filename }}{{ autotile.file_ext }}">
								</img>
							</a>
							<figcaption>{{ autotile.index + 1 }}: {{ autotile.filename }}</figcaption>
						</figure>
					{% endfor %}
				</div>
			{% else %}
				<p>There are no autotiles for this tileset.</p>
			{% endif %}
		</section>
		<section>
			<h2>Panorama</h2>
			{% if panorama.file_ext %}
				<figure>
					<a href="{{ url_base }}/graphics/panoramas/{{ panorama.filename }}{{ panorama.file_ext }}" class="figure-img-container">
						<img src="{{ url_base }}/graphics/panoramas/{{ panorama.filename }}{{ panorama.file_ext }}" class="figure-img">
					</a>
					<figcaption><b>File name</b>: {{ panorama.filename }}</figcaption>
				</figure>
			{% elif panorama.filename %}
				<p class="warning">This tileset references a graphic with the file name "Panoramas/{{ panorama.filename }}", but no file with this name exists.</p>
			{% else %}
				<p>There is no panorama for this tileset.</p>
			{% endif %}
		</section>
		<section>
			<h2>Fog</h2>
			{% if fog.file_ext %}
				<figure>
					<a href="{{ url_base }}/graphics/fogs/{{ fog.filename }}{{ fog.file_ext }}" class="figure-img-container">
						<img src="{{ url_base }}/graphics/fogs/{{ fog.filename }}{{ fog.file_ext }}" class="figure-img">
					</a>
					<figcaption><b>File name</b>: {{ fog.filename }}</figcaption>
				</figure>
			{% elif fog.filename %}
				<p class="warning">This tileset references a graphic with the file name "Fogs/{{ fog.filename }}", but no file with this name exists.</p>
			{% else %}
				<p>There is no fog for this tileset.</p>
			{% endif %}
		</section>
	</section>
{% endblock %}
