{% extends 'layout/base.j2' %}
{% block title %} Tileset {{ id }} ({{ name }}) {% endblock %}
{% block style %}
#tileset-img-scroll-indicator {
	display: none;
	position: absolute;
	border: 1px solid black;
}
{% endblock %}
{% block script %}
<script>
function updateScrollable(scrollable) {
	const scrollbar = document.querySelector(scrollable.dataset.scrollbar);
	const indicator = document.querySelector(scrollable.dataset.scrollIndicator);

	const offsetProportion = scrollable.scrollTop / scrollable.scrollHeight;
	const indicatorOffset = offsetProportion * scrollbar.offsetHeight;

	const visibleProportion = scrollable.offsetHeight / scrollable.scrollHeight;
	const indicatorHeight = visibleProportion * scrollbar.offsetHeight;

	indicator.style.display = 'block';
	indicator.style.top = scrollbar.offsetTop + indicatorOffset + 'px';
	indicator.style.left = scrollbar.offsetLeft + 'px';
	indicator.style.width = scrollbar.offsetWidth + 'px';
	indicator.style.height = indicatorHeight + 'px';
}

document.addEventListener('DOMContentLoaded', () => {
	const scrollables = document.querySelectorAll('[data-scrollbar]');

	for (const scrollable of scrollables) {
		const scrollbar = document.querySelector(scrollable.dataset.scrollbar);
		const indicator = document.querySelector(scrollable.dataset.scrollIndicator);

		//updateScrollable(scrollable);

		scrollable.addEventListener('scroll', () => {
			updateScrollable(scrollable);
		});

		let userIsMovingScrollIndicator = false;

		scrollbar.addEventListener('mousedown', (event) => {
			console.log('got mousedown');
			const offsetProportion = event.offsetY / scrollbar.offsetHeight;
			scrollable.scroll(0, offsetProportion * scrollable.scrollHeight);
			updateScrollable(scrollable);
			userIsMovingScrollIndicator = true;
		});

		scrollbar.addEventListener('mousemove', (event) => {
			console.log('got mousemove');
			if (!userIsMovingScrollIndicator) return;
			console.log('and it blunks');

			const offsetProportion = event.offsetY / scrollbar.offsetHeight;
			scrollable.scroll(0, offsetProportion * scrollable.scrollHeight);
			updateScrollable(scrollable);
		});

		window.addEventListener('mouseup', (event) => {
			console.log('got mouseup');
			userIsMovingScrollIndicator = false;
		});
	}
});
</script>
{% endblock %}
{% block content %}
	<div class="backlinks">
		<a href="{{ url_base }}/tilesets.html">Tilesets</a>
	</div>

	<section>
		<h1>Tileset {{ id }} ({{ name }})</h1>

		{% if maps %}
			<p>
				<strong>Used on these maps</strong>:
				{% for map in maps %}
					<a href="{{ url_base }}/map/{{ map.id }}.html">{{ map.id }} ({{ map.name }})</a>{% if not loop.last %},{% endif %}
				{% endfor %}
		{% else %}
			<p class="warning">This tileset is not used on any maps.</p>
		{% endif %}

		<section>
			<h2>Regular tiles</h2>

			{% if filename %}
				<figure>
					<div style="display: flex; justify-content: space-between">
						<div></div>
						<a
							href="{{ url_base }}/graphics/tilesets/{{ filename }}"
							class="figure-img-container" id="tileset-img"
							data-scrollbar="#tileset-img-scrollbar"
							data-scroll-indicator="#tileset-img-scroll-indicator"
						>
							<img
								src="{{ url_base }}/graphics/tilesets/{{ filename }}"
								class="figure-img"
							>
						</a>
						<img
							src="{{ url_base }}/graphics/tilesets/{{ filename }}"
							style="height: 24rem; width: 2rem; opacity: 50%; user-select: none"
							id="tileset-img-scrollbar"
							draggable="false"
						>
						<div id="tileset-img-scroll-indicator"></div>
					</div>
					<figcaption><b>File name</b>: {{ filename }}</figcaption>
				</figure>
			{% elif file_stem %}
				<p class="warning">This tileset's graphic is supposed to have
				the name "{{ file_stem }}" (excluding the file extension);
				however, no matching file exists.</p>
			{% else %}
				<p>This is a dummy tileset with no associated tiles.</p>
			{% endif %}
		</section>
		<section>
			<h2>Autotiles</h2>

			{% if autotiles %}
				<div style="text-align: center">
					{% for autotile in autotiles %}
						<figure style="display: inline-block; margin: 1rem">
							<a href="{{ url_base }}/graphics/autotiles/{{ autotile.filename }}{{ autotile.file_ext }}">
								<img src="{{ url_base }}/graphics/autotiles/{{ autotile.filename }}{{ autotile.file_ext }}">
								</img>
							</a>
							<figcaption>{{ autotile.index + 1 }}: {{ autotile.filename }}</figcaption>
						</figure>
					{% endfor %}
				</div>
			{% else %}
				<p>There are no autotiles for this tileset.</p>
			{% endif %}
		</section>
		<section>
			<h2>Panorama</h2>
			{% if panorama.filename %}
				<figure>
					<a href="{{ url_base }}/tileset/{{ id }}/panorama.png" class="figure-img-container">
						<img src="{{ url_base }}/tileset/{{ id }}/panorama.png" class="figure-img">
					</a>
					<figcaption>
						<b>File name</b>: {{ panorama.filename }}
						{% if panorama.hue %}
							<br>Hue adjusted by {{ panorama.hue }}&deg; from
							<a href="{{ url_base }}/graphics/panoramas/{{ panorama.filename }}">original</a>
						{% endif %}
					</figcaption>
				</figure>
			{% elif panorama.file_stem %}
				<p class="warning">This tileset's panorama is supposed to have
				the name "{{ panorama.file_stem }}" (excluding the file
				extension); however, no matching file exists.</p>
			{% else %}
				<p>There is no panorama for this tileset.</p>
			{% endif %}
		</section>
		<section>
			<h2>Fog</h2>
			{% if fog.filename %}
				<figure>
					<a href="{{ url_base }}/tileset/{{ id }}/fog.png" class="figure-img-container">
						<img src="{{ url_base }}/tileset/{{ id }}/fog.png" class="figure-img">
					</a>
					<figcaption>
						<b>File name</b>: {{ fog.filename }}
						{% if fog.hue %}
							<br>Hue adjusted by {{ fog.hue }}&deg; from
							<a href="{{ url_base }}/graphics/fogs/{{ fog.filename }}">original</a>
						{% endif %}
					</figcaption>
				</figure>
			{% elif fog.file_stem %}
				<p class="warning">This tileset's fog is supposed to have
				the name "{{ fog.file_stem }}" (excluding the file extension);
				however, no matching file exists.</p>
			{% else %}
				<p>There is no fog for this tileset.</p>
			{% endif %}
		</section>
	</section>
{% endblock %}
